/* General Styles */

:root {
    /* Sizes */
    --header-height: min(10vh,10vw);
    --header-padding: 1vh;

    /* Font type */
    --doc-font-type: "Comic Sans MS", "Comic Sans", cursive;
    --font-type: Garamond, Georgia, "Times New Roman", Times, serif;

    /* Font size */
    --body-font-size: min(3rem, 5.5vh);

    --title-font-size: min(2.4rem, 5vh);
    --subtitle-font-size: min(1.8rem, 4.5vh);
    --text-font-size: min(1.2rem, 4vh);

    --big-font-size: min(3vw, 5vh);
    --medium-font-size: min(1.6rem, 4.2vh);
    --small-font-size: min(0.8rem, 3.8vh);
}

header {
    width: 99%;
    position: fixed;
    top: 0;
}

body {
    width: 99%;
    margin: 0px;
    padding-top: calc(var(--header-height) + 3 * var(--header-padding));
    font-family: Arial;
}

.zone {
    cursor: default;
    font-size: var(body-font-size);
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Header
 **********************************************************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--header-height) - var(--header-padding));
    max-height: calc(var(--header-height) - var(--header-padding));
    width: auto;
    margin: calc(2 * var(--header-padding));
}

.cover > a, .cover > a > img {
    display: block;
    max-height: calc(var(--header-height) - 2 * var(--header-padding));
    max-width: 25vw;
}

.cover > label {
    max-height: calc(var(--header-height) - var(--header-padding));
    max-width: 50vw;
    margin-left: calc(2 * var(--header-padding));
    margin-right: calc(2 * var(--header-padding));
    text-align: center;
    font-size: var(--big-font-size);
    font-weight: bold;
}

#search.cover {
    min-height: calc(min(var(--text-font-size),max(var(--small-font-size), calc(var(--header-height) - 4 * var(--header-padding)))) + var(--header-padding));
    max-height: calc(min(var(--text-font-size),max(var(--small-font-size), calc(var(--header-height) - 4 * var(--header-padding)))) + 2 * var(--header-padding));
    max-width: 20vw;
    font-size: min(var(--text-font-size),max(var(--small-font-size), calc(var(--header-height) - 4 * var(--header-padding))));
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1vh;
    justify-items: stretch;
    justify-content: stretch; 
}

.box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    width: auto;
    margin: 1vh;
    padding: 1rem;
}

.box > .image {
    height: 50%;
    width: auto;
    max-width: 100%;
    border: 2px solid white;
    border-radius: 15%;
}

.box > .title {
    align-self: stretch;
    font-size: var(--medium-font-size);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.box > .descr {
    align-self: flex-start;
    font-size: var(--small-font-size);
    margin-top: 0;
    /* margin-bottom: 2rem; */
    overflow-wrap: break-word;
}

.box:hover {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

/***********************************************************************
 *  Document Panel
 **********************************************************************/
.doc {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--doc-font-type);
}

.doc > .header > .title {
    align-self: flex-start;
    font-size: var(--title-font-size);
    padding-bottom: 0.2rem;
    border-bottom: 0.15rem solid;
}

.doc > .title {
    align-self: flex-start;
    font-size: var(--title-font-size);
    padding-bottom: 0.2rem;
    border-bottom: 0.15rem solid;
}

.doc > .subtitle {
    align-self: flex-start;
    font-size: var(--subtitle-font-size);
}

.doc > .link {
    font-size: var(--small-font-size);
}

.doc > .text {
    font-size: var(--text-font-size);
    line-height : 2rem;
}

pre.text {
    font-family: var(--doc-font-type);
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.embed {
    align-self: center;
    padding-bottom: 0.5rem;
}
.video {
    /* height: 315px; */
    /* width: 560px; */
    height: min(315px,90vw * 315px / 560px);
    width: min(560px,90vw);
}
.html {
    align-self: center;
    padding-bottom: 0.5rem;
    height: 70vh;
    width: 90vw;
}

.doc > .bullets {
    font-size: var(--text-font-size);
}

.line {
    align-self: stretch;
    margin-block: 1rem;
    border-block: 1px solid black;
}

.close{
    align-self: flex-start; 
    font-size: var(--medium-font-size);
    margin: 0;
}

.close:link {
    text-decoration: none;
}

.close:hover {
    color: red;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    width: 99.99%;
    text-align: center;
}
