body {
    margin: 0 auto;
    font-family: Arial;
}

.zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Header
 **********************************************************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.cover {
    width: auto;
    margin: 8px;
}

img.cover {
    height: 10vh;
}

label.cover {
    align-items: center;
    font-weight: bold;
    color: rgba(0, 59, 121, 1);
    text-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #444;
    height: 50vh;
    width: auto;
    margin: 1vh;
    padding: 1rem;
}

.box > .image {
    height: 50%;
    border: 2px solid white;
    border-radius: 25%;
}

.box > .title {
    align-self: stretch;
    color: white;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.box > .descr {
    align-self: flex-start;
    color: white;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
}

.box:hover {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
}
